---
import "./SecondarySection.scss"

const { title, desc, className, neonStroke = true } = Astro.props

const isHeader = title || desc
---

<section
  class:list={[
    className,
    "section",
    {
      "section--neon-stroke": neonStroke,
    },
  ]}
>
  <div class='container'>
    {
      isHeader && (
        <header class='section__header'>
          <div class='section__info'>
            <h2 class='section__title'>{title}</h2>
            {desc && <p class='section__desc'>{desc}</p>}
          </div>
        </header>
      )
    }
    <div class='section__body'>
      <slot />
    </div>
  </div>
</section>
