.button {
  @include fluid-text(30, 18);

  position: relative;
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  padding: 7px 15px;
  color: var(--color-black);
  background: var(--neon-green);
  border: none;
  border-radius: var(--border-radius-xxs);
  box-shadow: none;
  transition-duration: var(--transition-duration);
  
  &--transparent {
    background-color: transparent;
  }
  
  &--normal {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
  
  &--black {
    column-gap: 25px;
    padding: 15px 20px;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius-xl);
    box-shadow: 0 0 5px 0 var(--neon-blue);
    
    @include hover {
      color: var(--neon-green);
      text-shadow: var(--shadow-neon-green-text);
    }
  }
  
  @include hover {
    &::before {
      opacity: 1;
      animation: pulse 1.5s infinite ease-in-out;
    }
  }
  
  &:active {
    scale: (1.02);
  }
  
  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    content: '';
    border-radius: inherit;
    box-shadow: 0 0 7px 0 var(--neon-green-soft);
    opacity: 0;
    transition: 0.3s ease;
  }
  
  @keyframes pulse {
    0%, 100% {
      box-shadow: var(--shadow-pulse-s);
    }
    
    50% {
      box-shadow: var(--shadow-pulse-m);
    }
  }
}
