---
import './Ellipse.scss'

const {
  color = 'blue',
  width = '400px',
  height = '400px',
  top,
  left,
  right,
  bottom,
  opacity = '0.05',
  className,
} = Astro.props

const style = {
  width, height, top, left, right, bottom, opacity,
}
---

<div
  class:list={['ellipse-glare', `ellipse-glare--${color}`, className]}
  style={style}
></div>
