.text-plate {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 70px;
  width: 100%;
  
  &__item {
    display: grid;
    row-gap: fluid(15, 10);
  }
  
  &__header {
  
  }
  
  &__title {
    padding: fluid(15, 10);
    color: var(--bg-primary);
    text-align: center;
    background: var(--neon-green);
    border-radius: 15px;
  }
  
  &__body {
    color: var(--color-white);
  }
}

@include mobile-above {
  .text-plate {
    row-gap: 30px;
    
    &__item {
      width: 55%;
      
      &:nth-child(even) {
        justify-self: end;
        
        .text-plate__header {
          text-align: right;
        }
      }
    }
    
    &__title {
      display: inline-block;
    }
  }
}
