.text-plate {
  display:grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  width: 100%;
  
  &__item {
    display:grid;
    row-gap: 15px;
    width: 55%;
    
    &:nth-child(even) {
      justify-self: end;
      
      .text-plate__header{
        text-align: right;
      }
    }
  }
  
  &__header {
  
  }
  
  &__title {
    font-weight: 700;
    font-size: 20px;
    text-align: justify;
    color: var(--bg-primary);
    border-radius: 15px;
    padding: 15px;
    background: var(--neon-green);
    display: inline-block;
  }
  
  &__body {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: justify;
    color: #fff;
  }
}