.overlay-menu {
  @include flex-center;
  @include square(100%);
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 1em;
  overflow-y: auto;
  pointer-events: none;
  background-color: var(--bg-overlay);
  clip-path: circle(0% at calc(100% - 40px) 40px);
  transition: clip-path 0.6s cubic-bezier(0.23, -0.66, 0.21, 0.89);
  
  &.is-active {
    pointer-events: auto;
    clip-path: circle(150% at calc(100% - 40px) 40px);
    
    .overlay-menu__nav {
      margin-block: auto;
      opacity: 1;
      transform: translateY(0);
      transition-delay: var(--transition-duration);
    }
  }
  
  &__nav {
    display: flex;
    flex-direction: column;
    gap: fluid(50, 20);
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    transition-delay: var(--transition-duration);
  }
  
  &__link {
    position: relative;
    display: inline-flex;
    column-gap: 25px;
    align-items: center;
    padding: 15px 20px;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
    background: var(--neon-green);
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius-xl);
    box-shadow: 0 0 5px 0 var(--neon-blue);
    transition-duration: var(--transition-duration);
    
    @include hover {
      color: var(--neon-green);
      text-shadow: var(--shadow-neon-green-text);
    }
    
    @include hover {
      &::before {
        opacity: 1;
        animation: pulse 1.5s infinite ease-in-out;
      }
    }
    
    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      pointer-events: none;
      content: '';
      border-radius: inherit;
      box-shadow: var(--shadow-pulse-s);
      opacity: 0;
      transition: 0.3s ease;
    }
    
    &:active {
      scale: (1.02);
    }
    
    &.is-active {
      color: var(--neon-green);
      text-shadow: var(--shadow-neon-green-text);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      box-shadow: var(--shadow-pulse-s);
    }
    
    50% {
      box-shadow: var(--shadow-pulse-m);
    }
  }
}

