---
import './OverlayMenu.scss'
import Button from "@/components/Button/Button.astro";
import starIcon from '@/assets/icon/overlay-menu/star.svg'
import bookIcon from '@/assets/icon/overlay-menu/book.svg'
import codeIcon from '@/assets/icon/overlay-menu/code.svg'
import closeIcon from '@/assets/icon/overlay-menu/close.svg'

const menuLinks = [
  {href: '/', label: 'Главная', iconSrc: starIcon.src,},
  {href: '/', label: 'Учебник', iconSrc: bookIcon.src,},
  {href: '/', label: 'Редактор', iconSrc: codeIcon.src,},
  {label: 'Закрыть', iconSrc: closeIcon.src, isClose: true},
]
---

<div
  id="full-screen-menu"
  class="overlay-menu"
>
  <nav class="overlay-menu__nav">
    {menuLinks.map(({href, label, iconSrc, isClose}) => (
      <Button
        href={href}
        label={label}
        iconName={iconSrc}
        iconPosition="before"
        mode="black"
        extraAttrs={isClose ? {id: 'menu-close-btn'} : {}}
      />
    ))}
  </nav>
</div>