.links-list {
  --link-color: var(--color-white);

  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: fluid(25, 15);
  padding-top: 10px;

  &__link {
    font-weight: 700;
    color: var(--link-color);

    @include hover {
      color: var(--neon-green);
      text-shadow: 0 0 4px var(--neon-green);
    }
  }
}
