---
import './LinksList.scss'

export interface LinkItem {
  label: string
  href: string
  isActive?: boolean
  depth?: number
}

interface Props {
  items: LinkItem[]
  class?: string
  itemClass?: string
  linkClass?: string
  activeClass?: string
}

const {
  items = [],
  class: listClass = 'links-list',
  itemClass = 'links-list__item',
  linkClass = 'links-list__link h4',
  activeClass = 'links-list__link--active',
} = Astro.props

const depthColors = {
  1: 'var(--neon-purple)',   // h1
  2: 'var(--neon-pink)',     // h2
  3: 'var(--neon-blue)',     // h3
  4: 'var(--neon-green)',    // h4
  5: 'var(--neon-yellow)',   // h5
  6: 'var(--text-primary)'   // h6
}
---

<ul class:list={[listClass]}>
  {
    items.map((item) => {
      const indentFactor = item.depth ? Math.max(0, item.depth - 2) : 0
      const paddingLeft = indentFactor * 5

      const circleColor = item.depth ? depthColors[item.depth] || 'var(--neon-green)' : 'var(--neon-green)'

      const styles = [
        paddingLeft > 0 ? `padding-left: ${paddingLeft}px` : '',
        item.depth  ? `--nested-color: ${circleColor}` : ''
      ].filter(Boolean).join('; ')

      return (
        <li class:list={[itemClass]} style={styles || undefined}>
          <a
            class:list={[
              linkClass,
              {
                [activeClass]: item.isActive,
                'links-list__link--nested': typeof item.depth === 'number',
              },
            ]}
            href={item.href}
          >
            {item.label}
          </a>
        </li>
      )
    })
  }
</ul>

<script>
  const event = new CustomEvent('close-menu', {
    detail: true,
    bubbles: true,
  })

  const linkElements =
    document.querySelectorAll<HTMLElement>('.links-list__link')

  linkElements.forEach((linkElement) => {
    linkElement.addEventListener('click', (e) => {
      const linkCurrent = e.currentTarget

      linkCurrent.dispatchEvent(event)
    })
  })
</script>
