@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono.woff2') format('woff2-variations');
  src: url('/fonts/JetBrainsMono.woff2') format('woff2') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
