---
import './Header.scss'
import Logo from '@/components/Logo/Logo.astro'
import ButtonMenu from '@/components/ButtonMenu/ButtonMenu.astro'
import OverlayMenu from '@/components/OverlayMenu/OverlayMenu.astro'

interface Props {
  currentUrl: string
}

const { currentUrl } = Astro.props
---

<header class='header'>
  <div class='header__inner'>
    <Logo />
    <ButtonMenu
      mode='hamburger'
      extraAttrs={{ id: 'hamburger-btn' }}
    />
    <OverlayMenu currentUrl={currentUrl} />
  </div>
</header>
