.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: fluid(30, 20) fluid(100, 20);
  border-bottom: transparent;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;
  
  @keyframes scrolling-header {
    to {
      padding-block: 20px;
      background-color: var(--bg-primary);
      border-bottom: var(--border);
    }
  }
  
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
