---
import './Header.scss'
import Logo from "@/components/Logo/Logo.astro";
import ButtonMenu from "@/components/ButtonMenu/ButtonMenu.astro";
---

<header class="header">
  <div class="header__inner">
    <Logo />
    <ButtonMenu />
  </div>
</header>