---
import './Content.scss'
import LinksList from '@/components/LinksList/LinksList.astro'

interface ContentItem {
  isActive?: boolean
  href: string
  label: string
  depth?: number
}

interface Props {
  content?: ContentItem[]
}

const { content = [] } = Astro.props
---

<div class='content'>
  <LinksList items={content} />
</div>

<script>
  const contentElements = document.querySelectorAll('.content')

  contentElements.forEach((contentElement) => {
    contentElement.addEventListener('isButtonOpen', (e) => {
      contentElement.classList.toggle('content--open')
    })
  })
</script>
