.content {
  display: grid;
  grid-template-rows: auto 0fr;
  align-content: start;
  transition: grid-template-rows var(--transition-duration) ease;
  transition-duration: var(--transition-duration-longer);

  &--open {
    grid-template-rows: auto 1fr;
  }

  &--active {
    color: var(--neon-pink);
    pointer-events: none;
    cursor: not-allowed;
  }
}
