.logo {
  @include fluid-text(32, 18);

  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family-secondary), sans-serif;
  font-weight: 700;
  color: var(--neon-green);
  text-decoration: none;
  text-shadow: var(--shadow-neon-green-logo);
  
  &__text {
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
  }
  
  &__cursor {
    position: relative;
    display: none;
    width: fluid(8, 1);
    margin-left: 2px;
    vertical-align: middle;
    
    &::before {
      @include abs-center;

      width: 10px;
      height: 100%;
      margin-left: 5px;
      content: '';
      background-color: var(--neon-green);
      box-shadow: var(--shadow-neon-green-logo);
    }
  }
}
