.logo {
  @include fluid-text(32, 18);
  
  font-family: var(--font-family-secondary), sans-serif;
  font-weight: 700;
  
  color: var(--neon-green);
  text-shadow: 0 0 8px #34c759;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  
  &__text {
    display: inline-block;
    white-space: nowrap;
    vertical-align: bottom;
  }
  
  &__cursor {
    display: none;
    position: relative;
    width: fluid(8, 1);
    margin-left: 2px;
    vertical-align: middle;
    
    &::before {
      @include abs-center;
      
      content: '';
      height: 100%;
      width: 10px;
      background-color: var(--neon-green);
      box-shadow: 0 0 8px #34c759;
      margin-left: 5px;
    }
  }
}
