.card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(50, 30);
  
  &__item {
    position: relative;
    display: flex;
    column-gap: fluid(50, 20);
    padding: fluid(40, 20);
    background: var(--bg-element-dark);
    border-radius: var(--border-radius-xl);
    
    &--right-to-left {
      flex-direction: row-reverse;
    }
    
    &::before,
    &::after {
      @include abs-cover;
      @include square(100%);

      pointer-events: none;
      content: '';
      border-radius: inherit;
    }
    
    &::before {
      box-shadow: 0 0 10px 0 var(--neon-blue);
    }
    
    &::after {
      box-shadow: 0 0 5px 1px var(--neon-purple);
      animation: stroke 5s 0s infinite ease;
    }
  }
  
  &__content {
    display: grid;
    row-gap: 25px;
  }
  
  &__title {
    .card__item--right-to-left & {
      text-align: right;
    }
  }
}

@keyframes stroke {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@include mobile {
  .card__title {
    text-align: center;
  }
  
  .card__item--right-to-left .card__title {
    text-align: center;
  }
}
