---
import './Icon.scss'
import {Icon} from 'astro-icon/components'

const {
  className,
  name,
  title,
} = Astro.props
---

<span class:list={["icon", {className}]}>
  <Icon
    name={name}
    title={title}
  />
</span>
