---
import './Navigation.scss'
import Chapter from '@/components/Navigation/Chapter/Chapter.astro'
import Content from '@/components/Navigation/Content/Content.astro'
import ButtonMenu from '@/components/ButtonMenu/ButtonMenu.astro'

interface Lesson {
  label: string
  href: string
  isActive?: boolean
}

interface ChapterData {
  title: string
  isOpen?: boolean
  lessons: Lesson[]
}

interface ContentData {
  isActive?: boolean
  href: string
  label: string
}

interface Props {
  className?: string
  chapter?: ChapterData[]
  mode: 'chapters' | 'contents'
  content?: ContentData[]
}

const { className, chapter = [], content = [], mode } = Astro.props

const isChapters = mode === 'chapters'
const isContents = mode === 'contents'
---

<aside
  class:list={[
    'navigation',
    className,
    {
      'navigation--chapters': isChapters,
      'navigation--contents': isContents,
    },
  ]}
  data-navigation=''
>
  <header
    class:list={[
      'navigation__header',
      {
        'navigation__header--reverse': isContents,
      },
    ]}
  >
    <ButtonMenu
      className='navigation__btn'
      mode='white'
      extraAttrs={{
        'data-navigation-button': '',
        ariaLabel: 'Свернуть панель',
      }}
    />

    <ButtonMenu
      className='navigation__btn'
      mode='contents'
      extraAttrs={{
        'data-navigation-button': '',
        ariaLabel: 'Свернуть панель',
      }}
    />

    <ButtonMenu
      className='navigation__btn-arrow'
      mode='arrow'
      extraAttrs={{
        'data-navigation-button-arrow': '',
        ariaLabel: 'Открыть меню',
      }}
    />
  </header>

  <nav class='navigation__nav'>
    {
      isChapters ? (
        chapter.map((item) => <Chapter chapter={item} />)
      ) : (
        <Content content={content} />
      )
    }
  </nav>
</aside>

<script>
  import Navigation from '@/components/Navigation/Navigation'
  const navigationElements = document.querySelectorAll('[data-navigation]')

  navigationElements.forEach((element) => {
    new Navigation(element)

    element.addEventListener('close-menu', () => {
      const navigationElement = document.querySelector('.navigation--contents')
      navigationElement?.classList.remove('navigation--collapsed')
      document.documentElement.classList.remove('is-lock')
    })
  })
</script>
