.navigation {
  position: sticky;
  top: calc(100px + clamp(1.25rem, 1.0639rem + 0.7634vw, 1.875rem));
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: fluid(20, 10);
  width: 100%;
  max-width: 390px;
  max-height: 70vh;
  padding: fluid(20, 10);
  overflow: hidden;
  background: var(--bg-overlay);
  border-radius: var(--border-radius-xl) 0 0 var(--border-radius-xl);
  box-shadow: 0 0 12px 0 var(--neon-blue);
  transition:
    width 0.5s ease 0s,
    grid-template-rows 0.5s ease 0.5s,
    row-gap 0.5s ease 0.5s,
    opacity 0.5s ease 0.5s,
    visibility 0.5s ease 0.5s,
    padding 0.5s ease 0s;

  &--contents {
    justify-self: end;

    .button-menu--contents {
      display: none;
    }

    @include laptop {
      row-gap: 0;

      .button-menu--contents {
        display: block;
      }

      .button-menu--white {
        display: none;
      }
    }
  }

  &--chapters {
    border-radius: 0 var(--border-radius-xl) var(--border-radius-xl) 0;

    .button-menu--contents {
      display: none;
    }

    @include laptop {
      row-gap: 0;
    }
  }

  &--collapsed {
    grid-template-rows: auto 0fr;
    row-gap: 0;
    width: 80px;
    transition:
      grid-template-rows 0.5s ease 0s,
      row-gap 0.5s ease 0s,
      width 0.5s ease 0.5s,
      padding 0.5s ease 0.5s;

    .navigation__nav {
      @include hide;

      min-height: 0;
      padding: 0;
      transition:
        opacity 0.3s ease 0s,
        visibility 0.3s ease 0s;
    }

    .navigation__btn:nth-child(1) {
      border-color: var(--neon-green-glow);

      & > span {
        background-color: var(--neon-green);
      }
    }

    .button-menu--contents {
      color: var(--neon-green);
    }

    .navigation__btn-arrow {
      @include hide;

      width: 0;
    }

    .button-up {
      width: 0;
     transition: opacity var(--transition-duration) ease 0.3s;


      @include hide;
    }
  }

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &--reverse {
      flex-direction: row-reverse;
    }

    @include laptop {
      margin-bottom: 30px;
    }
  }

  .button-menu--contents {
    @include hover {
      color: var(--color-white);
      box-shadow: none;
    }
  }

  &__btn {
    @include square(40px);

    transition-duration: var(--transition-duration);

    @include hover {
      box-shadow: 0 0 15px 0 var(--neon-green);
    }

    &-arrow {
      color: var(--color-black);
      background-color: var(--color-white);
      border-radius: 50%;
      transition:
        opacity 0.3s ease 0.2s,
        box-shadow var(--transition-duration),
        width 0.3s ease 0.2s,
        visibility 0.3s ease 0.2s;

      &.animat {
        svg {
          animation: rotate-arrow var(--transition-duration-longer) ease;
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: fluid(30, 15);
    min-height: 0;
    padding: fluid(10, 5);
    overflow-y: auto;
    transition:
      opacity 0.3s ease 0.7s,
      visibility 0.3s ease 0.7s;
    transition-duration: var(--transition-duration);

    @include laptop {
      padding: 0;
    }
  }

  @include laptop {
    clip-path: circle(0% at 0 20%);
    transition:
      clip-path 1s cubic-bezier(0.23, -0.66, 0.21, 0.89),
      padding 0.5s ease 0s;

    &--chapters,
    &--contents {
      position: fixed;
      inset: 0;
      z-index: 100;
      max-width: 100vw;
      height: 100vh;
      max-height: 100vh;
      padding: 20px;
      border-radius: 0;
      box-shadow: none;
    }

    &--contents {
      clip-path: circle(0% at 100% 20%);
    }

    &--collapsed {
      grid-template-rows: auto 1fr;
      row-gap: 0;
      width: 100%;
      clip-path: circle(150% at 0 100%);

      .navigation__nav {
        @include show;

        padding: 0;
      }

      .navigation__btn-arrow, .button-up {
        @include show;

        width: 40px;
      }
    }
  }
}

@keyframes rotate-arrow {
  0%,
  100% {
    rotate: 0deg;
  }

  50% {
    rotate: -90deg;
  }
}

.button-up {
  padding: 5px;
  color: var(--color-black);
  background-color: var(--color-white);
  transition:
    opacity var(--transition-duration) ease 0.3s,
    visibility var(--transition-duration) ease;


  @include hover {
    background-color: var(--color-black);
  }

  .icon {
    justify-content: center;
  }
}
