.section {
  padding-block: var(--section-padding-y);
  display: grid;
  overflow: hidden;
  
  &--neon-stroke {
    position: relative;
    
    &::before {
      @include abs-x;
      
      content: '';
      height: 3px;
      width: 100%;
      box-shadow: 0 0 30px 1px rgba(0, 212, 255, 0.67);
      background-color: rgba(0, 212, 255, 0.12);
    }
  }
  
  &__header {
    margin-bottom: fluid(70, 30);
  }
  
  &__body {
    position: relative;
  }
  
  &__info {
    display: flex;
    text-align: center;
    flex-direction: column;
    row-gap: fluid(20, 10);
    color: var(--text-primary);
  }
  
  &__title {
    text-shadow: 0 0 3px var(--text-primary);
  }
}
