.soc1als {
  &__list {
    display: flex;
    column-gap: 10px;
  }
  
  &__link {
    @include fluid-text(30, 20);
    
    display: inline-flex;
    padding: fluid(5, 2);
    border-radius: 100%;
    
    @include hover {
      box-shadow: var(--shadow-neon-green-glow);
    }
    
    &:active {
      box-shadow: 0 0 1px 2px var(--neon-green-alpha-mid);
      scale: (1.1);
    }
  }
  
  &__img {
    color: var(--neon-green);
  }
}
