---
import './Socials.scss'
import {Icon} from 'astro-icon/components'

const socials = [
  {
    icon: 'socials/github',
    link: 'https://github.com/Zheny179',
    title: 'Переход на GitHub',
  },
  {
    icon: 'socials/vk',
    link: 'https://vk.com/doronine777',
    title: 'Переход на VK',
  },
]
---


<div class="soc1als">
  <ul class="soc1als__list">
    {socials.map(({icon, link, title}) => (
      <li class="soc1als__item">
        <a
          class="soc1als__link"
          href={link}
        >
          <Icon
            class="soc1als__img"
            name={icon}
            title={title}
          />
        </a>
      </li>
    ))}
  </ul>
</div>
