.footer {
  background-color: var(--color-black);
  position: relative;
  
  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
  }
  
  &__copyright {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.89;
    color: #71717a;
    padding: 50px 100px;
  }
  
  &::before {
    @include abs-center;
    
    content: '';
    box-shadow: 0 0 30px 1px rgba(0, 212, 255, 0.67);
    width: 100%;
    height: 1px;
    background-color: rgba(0, 212, 255, 0.12);
  }
}