.footer {
  background-color: var(--color-black);
  
  &__action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: fluid(30, 20) fluid(100, 20);
    
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background-color: var(--neon-blue-line-bg);
      box-shadow: var(--shadow-neon-line);
    }
  }
  
  &__copyright {
    @include fluid-text(20, 16);

    padding: fluid(50, 20) fluid(100, 16);
    color: var(--text-copyright);
    text-align: center;
  }
}

@include mobile {
  .footer {
    &__action {
      flex-direction: column;
      gap: fluid(20, 15);
    }
  }
}
