---
import './Footer.scss'
import Logo from "@/components/Logo/Logo.astro";
import Socials from "@/components/Socials/Socials.astro";
---
<footer class="footer">
  <div class="footer__action">
    <Logo />
    <Socials className="footer__soc1als" />
  </div>
  <div class="footer__copyright">
    <p>© 2026 Евгений Доронин. Все права защищены.</p>
  </div>
</footer>
