.section {
  display: grid;
  padding-block: var(--section-padding-y);
  overflow: hidden;
  
  &--neon-stroke {
    position: relative;
    
    &::before {
      @include abs-x;
      
      width: 100%;
      height: 3px;
      content: '';
      background-color: var(--neon-blue-line-bg);
      box-shadow: var(--shadow-neon-line);
    }
  }
  
  &__header {
    margin-bottom: fluid(70, 30);
  }
  
  &__body {
    position: relative;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 10);
    color: var(--text-primary);
    text-align: center;
  }
  
  &__title {
    text-shadow: 0 0 3px var(--text-primary);
  }
}
