.hamburger {
  @include flex-center;
  @include square(fluid(60, 40));
  
  flex-direction: column;
  border-radius: 100%;
  background-color: var(--bg-secondary);
  border: var(--border);
  gap: 7px;
  
  &:hover {
    box-shadow: 0 0 4px 0 var(--neon-blue);
  }
  
  &__line {
    display: block;
    width: fluid(18, 14);
    height: 2px;
    background-color: var(--color-white);
  }
}
