.chapter {
  display: grid;
  grid-template-rows: auto 0fr;
  align-content: start;
  transition: grid-template-rows var(--transition-duration) ease;
  transition-duration: var(--transition-duration-longer);

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    font-size: 27px;
    font-weight: 700;

    // text-align: justify;
    color: var(--bg-primary);
    background: none;
    background: var(--neon-green);
    border: none;
    border-radius: 15px;

    @include hover {
      color: var(--color-white);
      background-color: transparent;
      box-shadow: var(--shadow-neon-green-glow);
    }

    svg {
      rotate: 270deg;
    }

    &--active {
      padding: 15px;
      font-size: 24px;

      // text-align: justify;
      color: var(--neon-green);
      border: 2px solid var(--neon-green);
      border-radius: 15px;
    }
  }

  &__title {
    flex: 1;
  }

  &__arrow {
    transition: transform 0.3s ease;
  }

  .chapter__arrow {
    transform: rotate(90deg);
  }

  &--open {
    grid-template-rows: auto 1fr;

    .chapter__arrow {
      transform: rotate(0deg);
    }

    .chapter__lessons {
    }
  }

  &--active {
    --link-color: var(--neon-green);

    pointer-events: none;
    cursor: cell;
    user-select: none;
  }
}
