---
import './Chapter.scss'
import CollapseButton from '@/components/CollapseButton/CollapseButton.astro'
import LinksList from '@/components/LinksList/LinksList.astro'

interface Props {
  className?: string
}

interface Lesson {
  label: string
  href: string
  isActive?: boolean
}

interface ChapterData {
  title: string
  isOpen?: boolean
  lessons: Lesson[]
}

interface Props {
  className?: string
  chapter: ChapterData
}

const { className, chapter } = Astro.props
const hasActiveLesson = chapter.lessons.some((lesson) => lesson.isActive)
---

<div
  class:list={[
    'chapter',
    {
      'chapter--open': chapter.isOpen,
    },
  ]}
>
  <CollapseButton
    className={`chapter__header${hasActiveLesson ? ' chapter__header--active' : ''}`}
    title={chapter.title}
    isOpen={chapter.isOpen}
    isActive={hasActiveLesson}
  />

  <LinksList
    items={chapter.lessons}
    activeClass='chapter--active'
  />
</div>

<script>
  import Chapter from '@/components/Navigation/Chapter/Chapter'

  new Chapter()
</script>
