---
import '@/styles'
import Header from '@/section/Header/Header.astro'
import Footer from '@/section/Footer/Footer.astro'

interface Props {
  title: string,
}

const { title = 'сайт' } = Astro.props
const currentUrl = Astro.url.pathname

---

<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <link
    rel="icon"
    type="image/x-icon"
    href={ `${ import.meta.env.BASE_URL }favicon.ico` }
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href={ `${ import.meta.env.BASE_URL }favicon-16x16.png` }
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href={ `${ import.meta.env.BASE_URL }favicon-32x32.png` }
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href={ `${ import.meta.env.BASE_URL }apple-touch-icon.png` }
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href={ `${ import.meta.env.BASE_URL }android-chrome-192x192.png` }
  />
  <link
    rel="icon"
    type="image/png"
    sizes="512x512"
    href={ `${ import.meta.env.BASE_URL }android-chrome-512x512.png` }
  />
  <title>Py:Start | {title}</title>
</head>
<body>
  <Header currentUrl={ currentUrl } />
    <slot />
  <Footer />
</body>
</html>
