.collapse-button {
  @include fluid-text(27, 20);

  display: flex;
  column-gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: fluid(15, 5);
  font-weight: 700;
  color: var(--bg-primary);
  text-align: start;
  cursor: pointer;
  background: none;
  background: var(--neon-green);
  border: none;
  border-radius: 15px;
  transition-duration: var(--transition-duration);

  @include hover {
    color: var(--color-white);
    background-color: transparent;
    box-shadow: var(--shadow-neon-green-glow);
  }

  &__title {
    flex: 1;
  }

  &__arrow {
    transform: rotate(0deg);
    transition: transform var(--transition-duration) ease;
  }

  &--open {
    .collapse-button__arrow {
      transform: rotate(90deg);
    }
  }

  &:active {
    scale: 1.02;
  }

  @include laptop {
    padding: 15px;
    color: var(--text-primary);
    background-color: transparent;
    border: 2px solid var(--text-primary);

    &:active {
      background-color: var(--neon-blue-alpha-low);
      scale: 1;
    }

    @include hover {
      border-color: var(--neon-green-alpha-mid);
      box-shadow: none;
    }

    &--active {
      color: var(--neon-green);
      background-color: transparent;
      border: 2px solid var(--neon-green);
    }
  }
}
