.hero {
  @include flex-center;

  position: relative;
  min-height: 100vh;
  padding-block: 15px;
  overflow: hidden;
  opacity: 0;
  
  &__inner {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__title {
    margin-bottom: fluid(50, 20);
    text-align: center;
    opacity: 0;
  }
  
  &__bg {
    @include abs-center;
    @include square(100%);
    
    z-index: 0;
    pointer-events: none;
    opacity: 0;
  }
  
  &__button {
    opacity: 0;
  }
}
