---
import './Hero.scss'
import Button from "@/components/Button/Button.astro"
import Ellipse from '@/components/Ellipse/Ellipse.astro'
---

<section class="hero">
  <canvas
    class="hero__bg"
    id="hero-canvas"
  ></canvas>

  <Ellipse
    color="green"
    top="40%"
    left="0%"
  />

  <Ellipse
    width="500px"
    height="500px"
    bottom="33%"
    right="-10%"
  />

  <div class="container hero__inner">
    <h1 class="hero__title">
      Пошаговый интерактивный учебник — от основ до
      продвинутых техник.
      Код с подсветкой синтаксиса, встроенные примеры и тесты.
    </h1>
    <Button
      className="hero__button"
      href="/"
      label="Начать изучение"
      iconName='arrow-left'
    />
  </div>
</section>

<script>
  import {gsap} from 'gsap'

  function animation() {
    const isMobile = window.innerWidth <= 767
    const offsetX = isMobile ? -8 : -20
    const offsetY = isMobile ? -8 : -20

    gsap.timeline()
      .to('.hero',        { opacity: 1, ease: 'power2.out' })
      .to('.hero__bg',    { opacity: 1, duration: 1 }, '-=0.5')
      .fromTo('.hero__title',  { x: offsetX }, { x: 0, duration: 0.4, opacity: 1 })
      .fromTo('.hero__button', { y: offsetY }, { y: 0, duration: 1,   opacity: 1 })
  }


  const hasVisited = sessionStorage.getItem('logo_animated')

  if (!hasVisited) {
    window.addEventListener('logoAnimationComplete', animation)
  } else {
    animation()
  }
</script>
